#unique{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    font-size: larger;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}